<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>分页测试</title>
    <link href="js/sui.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <style>
        .page{
            position:fixed;
            bottom:0;
            left:0;
            border-radius:100px;
            width: 100%;
            text-align: center;
        }
        p{
            margin-top: 4rem;
        }
    </style>
</head>
<body>
<p>sadwadwa</p>
<p>sadwadwa</p>
<p>sadwadwa</p>
<p>sadwadwa</p>
<p>sadwadwa</p>
<p>sadwadwa</p>
<p>sadwadwa</p>
<p>sadwadwa</p>
<p>sadwadwa</p>
<p>sadwadwa</p>
<p>sadwadwa</p>
<p>sadwadwa</p>
<div class="page">
    <form class="sui-form form-inline">
        <a href="javascript:page_prev();" class="sui-btn btn-bordered btn-xlarge btn-primary">上一页</a>
        <div class="input-append">
            <input style="width: 2rem;height: 2rem" id="appendedInputButton" type="number">
            <a href="javascript:page_input();"  class="sui-btn btn-xlarge">跳转</a>
        </div>
        <a href="javascript:page_next();" class="sui-btn btn-bordered btn-xlarge btn-primary">下一页</a>
    </form>
</div>

</body>
<script>
var pageNumber = 1;
function page_prev() {
    pageNumber --;
    console.log(pageNumber);
}
function page_next() {
    pageNumber ++;
    console.log(pageNumber);
}
function page_input() {
    var pages = $('#appendedInputButton').val();
    if (pages<=0){
        pageNumber = 1;
    }else {
        pageNumber = pages;
    }
    console.log(pageNumber);
}
</script>
</html>